.Container.Zahra {
  position: relative;
  background-color: #ffaa7c;
  border-radius: 15px;
  overflow: hidden;
}

.ConVid,
.ConDesc,
.ConSocial,
.Profile {
  position: relative;
  z-index: 1;
}

.backgroundZahra{
  position:absolute;
  width:110%;
  height:110%;
  top:-5%;
  left:-5%;
  background:#ffddc7;
  overflow:hidden;
  z-index:0;
}

.bz-children{
  position:absolute;
  width:200px;
  height:200px;
  border-radius:50%;
  animation: rotate linear infinite;
}

.bz-children:nth-child(1){
  top:10%;
  left:15%;
  box-shadow:45vmin 0 7vmin #fdd0b2;
}

.bz-children:nth-child(2){
  top:65%;
  left:70%;
  box-shadow:-40vmin 0 6vmin #ffc198;
}

.bz-children:nth-child(3){
  top:40%;
  left:5%;
  box-shadow:30vmin 0 6vmin #ffb483;
}

.bz-children:nth-child(4){
  top:10%;
  left:65%;
  box-shadow:30vmin 0 6vmin #ffc198;
}

.Desc.Zahra .DescText {
  color: #000000;
}

.ConFav.Zahra div{
    color: #785e1e;
}

.Profile.Zahra, .Social.Zahra {
  background: rgba(255, 207, 183, 0.1);
  backdrop-filter: blur(10px);
  box-shadow: 0 5px 5px rgba(142, 112, 77, 0.671);
  border: 1px solid rgba(122, 62, 45, 0.539);
}

.Profile.Zahra {
    background-color: #ffffff;
}

.Profile.Zahra .TextP {
    color: #5e4810;
}

.ConFav.Zahra, .Desc.Zahra {
    background-color: #ffffff;
  border-top: rgba(209, 146, 0, 0.411) solid 2px;
  border-bottom: rgba(209, 146, 0, 0.3) solid 2px;
  backdrop-filter: blur(10px);
  box-shadow: 0 5px 5px rgba(142, 112, 77, 0.671);
  border: 1px solid rgba(194, 136, 0, 0.539);
}


.DescText.Zahra {
  border-left: rgba(255, 255, 255, 0) solid 2px;
  border-right: rgba(255, 255, 255, 0) solid 2px;
}

.Social.Zahra {
    text-decoration: none;
    background-color: #6e0b00;
    cursor: pointer
}

.Social.Zahra .SocName {
    color: white;
}

.Social.Zahra:nth-child(6):hover {
    background-color: #da6115;
}

.Social.Zahra:hover {
    background-color: #b3340f;
    color: #ffffff;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.6);
    transform: scale(1.05);
}